<div class="containerNavBar">
  <div class="divTitulo">
    <img src="../assets/Imagenes/Navbar/bogota.png">
    <h1 class="nombre-sitio">SECRETARÍA <br>
      <span class="span-navbar">DISTRITAL DE PLANEACIÓN</span></h1>
    <img src="../assets/Imagenes/Navbar/republica_de_colombia.png">
  </div>

  <div class="card-container-navbar">
    <div class="card-navbar">
      <img src="..." class="card-img-top">
      <div class="card-body-navbar">

        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Usuario</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem>Cerrar Sesión</button>

          </div>
        </div>
        </div>

      </div>
    </div>

  </div>
