.containerNavBar {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100vw;
  height: 24vh;
  background-image: url("src/assets/Imagenes/Navbar/foto_cabezote.png");
  background-size: 100%;


}

.divTitulo {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 90vw;
  justify-content: center;
  align-items: center;
  margin-left: 10vw;
}

.nombre-sitio {
  font-family: 'Gotham-RoundedLight', 'OpenSans-Light';
  text-align: center;
  color: #fafafa;
  padding: 3em;
  line-height: 1.1;
  font-size: 1.5em;
  margin-left: 10vw;
  margin-right: 10vw;
}

.span-navbar {
  font-family: 'Gotham-RoundedBold';
  font-weight: bolder;
}

.card-container-navbar {
  display: flex;
  position: relative;
  background: transparent;
  width: 10vw;


}

.card-body-navbar {

}
.dropdown-menu.show{
  left:32% !important;
}
.card-navbar {
  background: transparent;
  align-self: center;
  width: auto;
}

.card-text-navbar {
  color: #fafafa;
}

.btn-outline-primary {
  border: none;
  color: #fafafa;
}

.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show > .btn-outline-primary.dropdown-toggle {
  border: none;
  color: #fafafa;
  background: transparent;
}

.btn-outline-primary:hover {
  border: none;
  color: #fafafa;
  background: transparent;
}

.btn.focus, .btn:focus {
  box-shadow: none;
}

.btn-outline-primary:not(:disabled):not(.disabled).active:focus, .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: none;
}
.dropdown-item{
  padding: 0 !important;
  text-align: center;
  margin: 0 !important;
}
.dropdown-menu{
  padding: 0;
  margin: 0;
}
