.containerParametrizacion{
  display: flex;
  position: relative;
  flex-direction: column;

  overflow-x: hidden;

}

.divParametrizacion{
  flex-direction: row;
  margin-bottom: 1em;

}
.breadcrumb-item+.breadcrumb-item::before{
  content: '>' !important;
}
//#003e65

.border-success-listabasica{
  margin-left: 5%;

}
.card-header-listabasica{
  background: #003e65;
  color: #fafafa;
  text-align: center;
  padding: 1em;
  font-weight: bolder;
}

.card-listabasica{
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #003e65;
  border-radius: .25rem;
}

.card-body-listabasica{
  flex: 1 1 auto;
  padding: 1.25rem;
}
.text-success-listabasica{
  color: black;
}

