<div class="containerParametrizacion">
  <app-navbar></app-navbar>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Library</li>
    </ol>
  </nav>
  <div class="divParametrizacion" >
  <div class="card-listabasica border-success-listabasica" style="max-width: 18rem;">
    <div class="card-header-listabasica">Lista básicas</div>
    <div class="card-body-listabasica text-success-listabasica">
      <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
        <option selected>Nombre</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
      <br>
      <br>
      <a>Sectores</a><br><br>
      <a>Entidades</a><br><br>
      <a>Tipos de documentación de adopción</a><br><br>
      <a>Tipos de documentación asociados</a><br><br>
      <a>Tipos de anualización</a>
    </div>


  </div>

  </div>
</div>
