<div class="containerHome">
  <app-navbar></app-navbar>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Library</li>
    </ol>
  </nav>

  <h3 class="txtHomeH3">Hola,</h3>
  <h4 class="txtHomeH4">Bienvenido al Sistema de <br>
      <span class="txtHomeSpan">Seguimiento y Evaluación</span>  de <br>
      Políticas Públicas
  </h4>
  <div class="card-container">
    <div class="card" style="width: 18rem;" routerLink="/politicaPublica">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Política Pública</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;" routerLink="/planDeAccion">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Plan de Acción</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;" routerLink="/regristroDeSeguimiento">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Registro de Seguimiento</p>
      </div>
    </div>

  </div>


  <div class="card-container">

    <div class="card" style="width: 18rem;" routerLink="/bateriaDeIndicadores">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Bateria de Indicadores</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;" routerLink="/informesDeSeguimiento">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Informes de Seguimiento</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;" routerLink="/parametrizacion">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Parametrización</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;" routerLink="/gestionDeRoles">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Gestión de Roles</p>
      </div>
    </div>


  </div>







</div>
