.containerHome {
  display: flex;
  position: fixed;
  flex-direction: column;


}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.card {
  margin: 1em;

}

.card-body {
  background: #003e65;
}

.card-text {
  color: #fafafa;
  text-align: center;
}
.txtHomeH3{
  margin-left: 0.8em;
  font-weight: bolder;
}

.txtHomeH4{
  margin-left: 1em;
}
.txtHomeSpan{
  font-weight: bolder;
}
.breadcrumb-item+.breadcrumb-item::before{
  content: '>' !important;
}
